---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
    <article class="markdown-body">
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</BaseLayout>

<style is:global>
    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3 {
        color: var(--text); 
        border-bottom: 1px solid var(--surface1);
        padding-bottom: .3em;
    }

    .markdown-body a {
        color: var(--pink);
        text-decoration: underline;
    }

    .markdown-body code {
        background-color: var(--surface0);
        color: var(--text);
        font-size: 85%;
        padding: .2em .4em;
        border-radius: 6px;
    }

    .markdown-body pre {
        background-color: var(--pink);
        padding: 16px;
        border-radius: 6px;
        overflow-x: auto;
    }

    .markdown-body pre code {
        background-color: var(--crust);
        color: var(--text);
    }

    .markdown-body blockquote {
        padding: 0 1em;
        color: var(--subtext0);
        border-left: 0.25em solid var(--pink);
    }

    .markdown-body table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
        overflow-x: auto;
    }

    .markdown-body tr {
        background-color: var(--base);
        border-top: 1px solid var(--surface1);
    }

    .markdown-body tr:nth-child(2n) {
        background-color: var(--mantle);
    }

    .markdown-body th,
    .markdown-body td {
        padding: 12px 15px;
        border: 1px solid var(--surface1);
    }

    .markdown-body th {
        font-weight: 600;
        color: var(--text);
        text-align: left;
    }
</style>
